.tagContainer{
    height: auto;
    width: auto;
    display: flex;
}

.checkTag{
    /* display: none; */
    background-color: initial;
    appearance: none;
    box-sizing: border-box;
    padding: 1.2rem;
    border: initial;
    /* height: 100%; */
    /* width: ; */
    position: absolute;
    z-index: 2;
}

.thisislabel{
    font-size: 14px;
    color: black;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 10px;
    margin: 0 5px;
    -webkit-user-select: none;
    user-select: none;
}

.checkTag:hover + .thisislabel{
    /* background: rgb(111, 164, 237); */
    background: hsl(216, 93%, 26%);
    opacity: 0.5;
    transition: 300ms ease-in-out;
}
.boxcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"]:checked + label {
    /* background-color: hsl(216, 93%, 26%) !important; */
    background-color: rgb(111, 164, 237) !important;
    color: black;
    box-shadow: 0 0 10px black !important;
}

.toolsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: absolute;
    top: 0%;
    div{
        z-index:3;
    }
}

.colorBox{
    display: flex;
    align-items: center;
    gap: 10px;
}

canvas{
    box-shadow: 0 0 20px #00000080;
    /* border-radius: 20px; */
    /* margin-top: 20px; */
}

.canvasContainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
}

.canvasContainer canvas:nth-child(1){
    position: absolute;
    top: 0;
    z-index: 3;
}
.canvasContainer canvas:nth-child(2){
    position: absolute;
    top: 0;
    z-index: 2;
}

.authContainer{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    input, button{
        width: 100%;
        border: 1px solid #00000050;
        outline: none;
        margin-bottom: .35rem;
        background-color: #222;
        border-radius: 10px;
        padding: 7.5px 10px;
        display: flex;    
        justify-content: center;
        align-items: center;
        gap: 10px;
    }input:hover{
        transition: 500ms;
        border: none;
        border: 1px solid #646cff;
        background-color: #161616;
    }
    .mainbtn{
        background-color: #646cff;
        border: 1px solid #646cff; 
    } 
    .mainbtn:hover{
        opacity: .9;
        transition: 500ms;
        border: 1px solid #161616;  
    }
}

#color, #fillcolor{
    outline: none;
    border: none;
}
